alias c="cd"
alias cc="clang"
alias copy="xclip -selection clipboard"
alias chmox="chmod +x "
alias g="git"
alias info="info --vi-keys"
alias l="ls"
alias la="ls -la"
alias o="xdg-open "
alias open="xdg-open "
alias s="sudo "
alias sl="ls "
alias sudo="sudo " # makes aliases work with sudo
alias v="vim "
alias x="tar xzvf"
alias todo="vim ~/todo"
