[push]
	default = simple
[alias]
	a    = add
	br   = branch
	c    = commit
	ch   = checkout
	ci   = commit
	co   = checkout
	d    = diff
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	ol   = log --oneline
	ph   = push
	pl   = pull
	ps   = push
	s    = status
	st   = status
	last = for-each-ref --sort=committerdate --format='%(color:yellow)Branch:\t%(refname:short)%(color:white)\nDate:\t%(authordate)\nAuthor:\t%(authorname) %(authoremail)\n\n\t%(contents:subject)\n' refs/heads
[help]
	autocorrect = 25
[color]
	ui = auto
