[user]
	email = richardscollin@gatech.edu
	name = Collin Richards
[push]
	default = simple
[alias]
	a    = add
	br   = branch
	c    = commit
	ch   = checkout
	ci   = commit
	co   = checkout
	d    = diff
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	ol   = log --oneline
	ph   = push
	pl   = pull
	ps   = push
	s    = status
	st   = status
[help]
	autocorrect = 25
